body {
    font-family: Arial, sans-serif;
    max-width: 1200px; 
    width: 100%;
    margin: 0 auto; /* Center the content */
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
}

header {
    background: linear-gradient(to right, #0073cf, #12ad2b);
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Space between products */
     margin-top: 30px; /* Push products down */
}

.product {
    width: 250px; /* Set a fixed width */
    text-align: center;
}

button {
    background-color: #d7141a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #b50c14;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, #0073cf, #12ad2b);
    color: white;
}
