body {
    font-family: Arial, sans-serif;
    max-width: 1200px; /* Adjust as needed */
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f8ff;
}

header {
    background: linear-gradient(to right, #0073cf, #12ad2b);
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#products {
    text-align: center;
    padding: 20px;
}

.product {
    display: inline-block;
    border: 2px solid #12ad2b;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

button {
    background-color: #d7141a;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #b50c14;
}

footer {
    background: linear-gradient(to right, #0073cf, #12ad2b);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
